object {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 500px;
  height: 500px;
}

background-image {
  max-width: 100%;
  max-height: 100%;
}

p  {
  text-align: center;
  color: white;
  max-width: 100%;
}

@media query (max-width: 600px){
  object {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 500px;
    height: 500px;
  }

  background-image {
    max-width: 50%;
  }

  p  {
    text-align: center;
    color: white;
    max-width: 100%;
  }
}

@media query (min-width: 601px) {
  object {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 500px;
    height: 500px;
  }

  background-image {
    max-width: 100%;
    max-height: 100%
  }

  p  {
    text-align: center;
    color: white;
    max-width: 100%;
  }

}
